.find-icons {
  display: flex;
  justify-content: center;
  /* padding-bottom: 25px; */
}

.find-icons__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  margin-top: 30px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.find-icons__icon span {
  padding-top: 15px;
  /* margin: 18px 0px; */
  width: 90%;
  text-align: center;
}

.recommended-friends {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--grey);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  color: var(--grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  margin-bottom: 25px;
  font-size: 14px;
}

.open-chat__header h4 {
  font-weight: 600;
}

.open-post {
  display: flex;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 14px;
}

.open-post__members {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--grey);
  margin-top: 7px;
}

.open-post__members img {
  width: 14px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--grey);
  margin: 0px 5px;
}

.open-post__member-status {
  color: #ffb0e0;
  font-weight: 600;
}
