#friends-display-link {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 10px 0px;
  font-size: 16px;
  /* margin-bottom: 10px; */
}

#friends-display-link span {
  margin-right: 8px;
}

#friends-display-link i {
  color: var(--grey);
}

.friends-screen__channel {
  margin: 5px 0px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  color: var(--grey);
  display: flex;
  justify-content: space-between;
}

/* .friends-screen {
  padding: 0px var(--horizontal-space);
} */

@keyframes hidesSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /* visibility: hidden; basically takes it out of context of the mouse*/
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  /* didnt assigned father, so the body would be the relative */
  position: absolute;
  /* 100% of the screen height */
  height: 100vh;
  /* 100% of the screen width */
  width: 100vw;
  /* sets screen top as 0 */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hidesSplashScreen 1.5s ease-in-out forwards;
  /* forwards remembers the last keyframe */
  animation-delay: 0.5s;
}
