.settings-setting {
  padding: 20px 0px;
  border-bottom: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  font-size: 22px;
  opacity: 0.8;
}

.settings-setting__column {
  display: flex;
}

.settings-list:last-child {
  border-top: var(--main-border);
}

.settings-setting__newicon {
  margin-left: 8px;
  width: 13px;
  height: 13px;
  background-color: tomato;
  border-radius: 50%;
}

.settings-setting__newicon span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  font-weight: 600;
  color: white;
}

.settings-setting div:last-child {
  color: var(--grey);
}
