.alt-header {
  width=100%;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: var(--horizontal-space);
  margin-right: var(--horizontal-space);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

/* .alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
} */

.alt-header__column {
  width:33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child i {
  margin-left: 15px;
}
