.icon-row {
  display: flex;
  justify-content: center;
  /* padding-bottom: 25px; */
}

.icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  margin-top: 30px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.icon-row__icon span {
  padding-top: 15px;
  /* margin: 18px 0px; */
  width: 90%;
  text-align: center;
}
