.nav {
  background-color: #f9f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 19px;
  bottom: 17px;
}

.nav__ellipsis__notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: block;
  position: absolute;
  /* right: 20px; */
  left: 32px;
  bottom: 25px;
}
