.screen-header {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: var(--horizontal-space);
  margin-right: var(--horizontal-space);
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  /* display: flex; */
  /* justify-content: space-between; */
  /* position: relative; */
  margin-left: 15px;
}

.screen-header__cog {
  position: relative;
}

/* disapears cog's dot icon */
/* @keyframes disapearDot {
  from {
    opacity: initial;
  }
  to {
    opacity: 0;
  }
}

.screen-header__cog__notification:hover {
  animation: disapearDot 0.2s linear forwards;
} */

.screen-header__cog__notification {
  position: absolute;
  left: 4px;
  bottom: 18px;
}

/* rotates cog icon */
@keyframes cogRotation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: cogRotation 2s linear infinite;
}
