.screen-header {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: var(--horizontal-space);
  margin-right: var(--horizontal-space);
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 15px;
}
