/* .user-component {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */
.user-component,
.user-component__column:first-child {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--grey);
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 28px;
  margin-right: 20px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 10px;
  font-size: 11px;
  color: var(--grey);
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  font-size: 20px;
  font-weight: 300;
}

.user-component__time {
  display: flex;
  font-size: 12px;
  margin-bottom: 8px;
}
